.container-card{
    margin-left: 14rem;
    margin-right: 14rem;
    border: none;
    img{
        max-width: 13rem;
    }
}
.sus-libros-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 4rem;
}
.little-book-cover {
    padding-top: 0;
    // max-height: max-content;
}
.author-image {
    text-align: center;
    img{
        margin: none;
    }
}

@media (max-width: 992px) {
  .container-card {
      margin-left: 5rem;
      margin-right: 5rem;
  }
}
@media (max-width: 768px) {
    h5 {
        font-size: 1rem;
    }
    p {
        font-size: 0.80rem;
    }
    .sus-libros-title {
        text-align: center;
        margin-left: 0;
    }
}
 
@media (max-width: 450px) {
  .container-card {
      margin-left: 2rem;
      margin-right: 2rem;
  }

}