.card-book-shopping-cart {
    padding-top: 3rem;
    margin-bottom: 0;
}
.book-price {
    text-align: right;
    font-weight: bold;
    font-size: 1.05rem;
}
.cover-page {
    max-width: 7rem;
}
.card-title {
    font-weight: bold;
    font-size: 1.25rem;
}
@media (max-width: 768px) {
    .book-price {
        text-align: center;
    }
}

