.book-list-title {
    margin-left: 14rem;
    margin-right: 14rem;
    margin-top: 2rem;
    h1{
        font-size: 2.8rem;
        text-align: center;
    }
}
.searched-books {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 992px) {
    .book-list-title {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
@media (max-width: 768px) {
    .book-list-title {
        display: block;
        width: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 0.80rem;
        h1{
            font-size: 2.4rem;
            text-align: center;
        }
    }
}