a {
    color: black;
}
.card {
    border: none;
    margin-bottom: 3rem;
}
.book-image {
    max-width: 12rem;
    .boton{
    position: relative;
    top:2.5rem;
    left: 9.2rem;
    }
}
.dropdown-toggle{
    font-size: 1rem;
    display: inline-block;
    background-color: transparent;
}
.arrow{
    font-size: 2rem;
    background-color: #cdcbcb;
    color: #150a1a;
}
.btn-secondary.dropdown-toggle{
    color: #150a1a;
    background-color: #cdcbcb;
    border-color: #f8f9f1;
}
.btn-secondary:not(:disabled):not(.disabled):active.show > .btn-secondary.dropdown-toggle {
    color: #150a1a;
    background-color: #cdcbcb;
    border-color: #f8f9f1;
}
.btn-secondary{
    color: #150a1a;
    background-color: #cdcbcb;
    border-color: #f8f9f1;
}

.book-info {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}
.card-body {
    height: fit-content;
}
.format-price{
    h6:last-child {
            font-size: 1.25rem;
        }
}

@media (max-width: 768px) {
    .row {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .card-body {
        text-align: center;
        padding: 0;
    }
    .card {
        margin-bottom: 0;
    }
    .book-image {
        max-width: 10rem;
        .boton{
        position: relative;
        top:2,3rem;
        left: 7.2rem;
        }
    }
    .format-price {
        display: flex;
        justify-content: space-between;
        padding-right: 1rem;
        h6:last-child {
            font-size: 1rem;
        }
    }
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 0.80rem;
    }
    p {
        font-size: 0.80rem;
    }
}