.dropdown-in-shopping-cart {
    // width: fit-content;
    .each-book a {
        display: flex;
        justify-content: space-between;
    }
    .total-price-navbar{
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
    }   
    .link-to-shopping-cart {
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }
    a{
        margin: 0;
    }
    
}
.dropdown-button-cart {
    border: none;
}
.dropdown-menu {
    min-width: 15rem;
    font-size: 0.8rem;
}
@media (max-width: 450px) {
    li {
        font-size: 0.8rem;
    }
    .dropdown-menu {
        min-width: 10rem;
        font-size: 0.8rem;
    }
}