@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.home-header {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 14rem;
    margin-right: 14rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid #a1c3497d 0.5px;
    border-radius: 0.2rem;
    h1{
        font-size: 2.8rem;
        text-align: center;
    }
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgba(160, 195, 73, 0.836);
    border-color: #A1C349;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(160, 195, 73, 0.61);
}
.btn-primary {
    background-color: rgba(160, 195, 73, 0.61);
    border-color: #A1C349;
    &:hover {
        background-color: rgba(160, 195, 73, 0.836);
        border-color: #A1C349;
    }
    &:focus {
        border-color: #A1C349;
        box-shadow: 0 0 0 0.2rem rgba(160, 195, 73, 0.61);
    }
}

label {
    font-weight: 600;
}

@media (max-width: 992px) {
    .home-header {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
@media (max-width: 768px) {
    .home-header {
        display: block;
        width: 90%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding: 0;
        font-size: 0.80rem;
        h1{
            font-size: 2.4rem;
            text-align: center;
        }
    }
}

// BACKGROUND

$color-3: #EFF5E0;
$color-3-t: transparentize($color-3, 1);

$color-4: #F7FAF0;
$color-4-t: transparentize($color-4, 1);

$size: 2.8em;
$size-half: $size/2;
$begin: $size/9.53;
$step: $size/18;
$space: $size/8.4;
$step-s: $step/1.5;

$step-b: $space;
$step-e: $space + $step;
$step-b-2: $space*2 + $step;
$step-e-2: $space*2 + $step*2;
$step-b-3: $space*3 + $step*2;
$step-e-3: $space*3 + $step*3;

$small-b: ($space*3 + $step)/2;
$small-e: $small-b + $step;
$small-b-2: $small-b + $step + $space;
$small-e-2: $small-b + $step*2 + $space;

$small-c: $size + $space - $step/1.9;



$bgcolor: $color-4;

HTML {
  height: 100%;
  }

BODY {
    font-family: 'Montserrat', sans-serif;
    a:hover{
        color: #89A838;
        text-decoration: none;
    }
    footer {
        background-color: rgba(160, 195, 73, 0.37);
        .footer-contain{
            width: 30%;
        }
    }
  background: 
    radial-gradient(circle at right,
      $color-3-t $step-b,
      $color-3 $step-b, $color-3 $step-e,
      $color-3-t $step-e, $color-3-t $step-b-2,
      $color-3 $step-b-2, $color-3 $step-e-2,
      $color-3-t $step-e-2, $color-3-t $step-b-3,
      $color-3 $step-b-3, $color-3 $step-e-3,
      $color-3-t $step-e-3
      ) 0 0,
    radial-gradient(circle at left,
      $color-3-t $small-b,
      $color-3 $small-b, $color-3 $small-e,
      $color-3-t $small-e, $color-3-t $small-b-2,
      $color-3 $small-b-2, $color-3 $small-e-2,
      $color-3-t $small-e-2
      ) 0 $small-c,
    
    linear-gradient(to right top,
      $color-3 $step,
      $color-3-t $step
      ) $small-e-2 $step,
     linear-gradient(to left top,
      $color-3 $step,
      $color-3-t $step
      ) $small-e-2 $step,
    linear-gradient(to right bottom,
      $color-3 $step,
      $color-3-t $step
      ) $small-e-2 $step,
     linear-gradient(to left bottom,
      $color-3 $step,
      $color-3-t $step
      ) $small-e-2 $step
    ;
  background-size: $size $size;
  background-color: $bgcolor;
  }
  