.little-book-cover{
    padding: 1rem;
    max-width: 12rem;
    display: flex;
    flex-wrap: wrap;
    // float: left;
    margin: 0 1.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid #a1c3497d 0.5px;
    border-radius: 0.2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    .image-little-book{
        img{
        max-width: 10rem;
        min-width: 10rem;
        min-height: 13rem;
        max-height: 13rem;
        }
    }
    .little-book-cover-delete-button{
        position: relative;
        top: 3.5rem;
        left: 8rem;
        
    }
    .boton {
        position: relative;
        top: 3.5rem;
        left: 8rem;
        justify-content: end;
        width: fit-content;
    }
}
.button-dropdown-arrow{
    border: none;
    border-radius: 1rem;
    width: 1.8rem;
}
.dropdown-menu.dropdown-menu-lg-left.show{
    min-width: 9rem;
    max-width: 9rem;
}
.card-body-little-book {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    .name-little-book{
        font-size: 0.8rem;
        font-weight: 500;
        margin-bottom: 0;
        width: 100%;
    }
    .sub-name-little-book {
        font-size: 0.8rem;
        width: 100%;
    }
}
@media (max-width: 992px) {
    .card-body-little-book {
        .name-little-book {
            text-align: left;
        }
    }
}

.displaying {
    display: none;
}