
.little-book-cover{
    max-width: 10rem;
    margin: 2rem;
    display: flex;
    float:left;
    .image{
    margin: 0.25rem;
    }
    
}

.card-body {
    display: flex;
    align-items: center;
    .name{
        display: flex;
        align-items: center;
        p {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
    .subName  {
        display: flex;
        align-self: center;
        p{
            font-size: 1.5rem;
            font-weight: 500;  
        }
    }
}

@media (max-width: 992px) {
    .image{
    margin: 0.25rem;
    }
    .name {
        .card-body {
            text-align: left;
            margin-left: 1rem;
        }
    }
}