.author-image {
    text-align: center;
    .card-img-little-info {
        max-width: 8rem;
        height: -webkit-fill-available;
    }
}
.author-name {
    display: flex;
    align-items: center;
    .card-body-author {
        display: flex;
        align-items: center;
        p {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}
.card-little-info {
    background-color: rgba(255, 255, 255, 0.4);
    border: solid #a1c3497d 0.5px;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 11.5rem;
}

@media (max-width: 992px) {
    .author-name {
        .card-body-author {
            text-align: left;
            margin-left: 1rem;
        }
    }
}