
.little-book-cover{
    max-width: 10rem;
    margin: 2rem;
    // display: flex;
    flex-wrap: wrap;
    float:left;
    img{
    margin: 0.25rem;
    width: 9rem;
    }
    .delete{
        position: relative;
        top: 3.5rem;
        left: 8.2rem;
    }
    .boton{
        position: relative;
        top: 3rem;
        left: 8rem;

    }
}



.name{
    
}

.sub-name{

}