.logo-navbar {
    max-height: 4rem;
}
.navbar {
    display: flex;
    justify-content: space-around;
    a{
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    } 
    p {
        margin: 0;
    }
    input {
            width: 14rem;
        }
}
.searching-bar {
        margin-left: 5rem;
    }
.dropdown-menu {
    min-width: 7rem;
}

@media (max-width: 768px) {
    .logo-navbar {
    max-height: 3rem;
    }
    .navbar {
        a{
            margin-left: 1rem;
            margin-right: 1rem;
        } 
        p {
            margin: 0;
        }
        input {
            width: auto;
        }
        
    }
     .searching-bar {
        margin-left: 0;
    }
}
