$green: #A1C349;
$green-transparent: rgba(160, 195, 73, 0.61);

.logo-navbar {
    max-height: 3.5rem;
}
.navigation-bar {
    position: fixed; 
    top: 0; 
    left: 0;
    margin-bottom: auto;
}
.navbar {
    background-color: $green-transparent;
    border-bottom: solid $green;
    a{
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    } 
    p {
        margin: 0;
    }

}
.dropdown-menu {
    min-width: 7rem;
}

@media (max-width: 768px) {
    .logo-navbar {
    max-height: 3rem;
    }
    .navbar {
        a{
            margin-left: 1rem;
            margin-right: 1rem;
        } 
        p {
            margin: 0;
        }
        input {
            width: auto;
        }
    }
     .searching-bar {
        margin-left: 0;
    }
}
.input-group-text {
    background: transparent;
    color: white;
    border: 1px solid #A1C349;
}
.input-group {
    max-width: none;
}
