.label-p {
    display: flex;
    label {
        margin-right: 3rem;
    }
}
.reader-info{
    padding: 1.5rem;
    margin-top: 1.25rem;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid #a1c3497d 0.5px;
    border-radius: 0.2rem;
}