
.home-container-books{
    display: flex;
    justify-content: center;
    padding-left: 14rem;
    padding-right: 14rem;
    flex-wrap: wrap;
}

.home-random-books-title{
    margin: 1rem;
    text-align: center;
}

.home-card-book-random {
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid #a1c3497d 0.5px;
    border-radius: 0.2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    min-height: 15rem;
    max-height: 15rem;

   
}
.home-random-image{
    margin: 0.5rem;
    max-width: 7rem;
    min-width: 7rem;
    min-height: 10rem;
    max-height: 10rem;
}

.home-book-random-body{
    margin: 0.5rem;
     .home-book-random-title{
        font-size: 2rem;
    }
    .home-book-random-review{
        width: 230px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}