@media (max-width: 768px) {
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 0.80rem;
    }
    p {
        font-size: 0.80rem;
    }
}

// .review-inputs {
//     display: flex;
// }
.valoration {
    max-width: 13rem;
}
