.review {
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid #a1c3497d 0.5px;
    border-radius: 0.2rem;
}

@media (max-width: 768px) {
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 0.80rem;
    }
    p {
        font-size: 0.80rem;
    }
}


.valoration {
    max-width: 9rem;
}
