.welcome-text {
    text-align: center;
    align-self: center;
    padding: 0;
    width: 50%;
    font-size: 2rem;
}
@media (max-width: 768px) {
    .welcome-text {
        width: 100%;
        font-size: 1.5rem;
    }
}