.welcome-text {
    text-align: center;
    padding-left: 5rem;
    align-self: center;
    width: 50%;
    font-size: 1.25rem;
}
@media (max-width: 768px) {
    .welcome-text {
        padding-left: 0;
        width: 100%;
        font-size: 1rem;
    }
}